.sidenav {
  background: #fafafa;
  padding: 30px;
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 20px auto 0px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 1s ease-in;
}
.sidenav .ativo {
  background: linear-gradient(65deg, #26bb9d, #086f71);
}

.sidenav li a:hover {
  /* background: linear-gradient(65deg, #26bb9d, #086f71); */
  background: #086f71;
}

.sidenav p {
  font-weight: bold;
  font-size: 18px;
  color: #086f71;
  margin-top: 4px;
  text-align: center;
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 760px) {
  .sidenav {
    position: relative;
    overflow-x: auto;
  }
  .sidenav::after {
    content: "→";
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(44, 189, 92, 0.719);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }

  .sidenav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 20px;
    padding: 0px;
  }

  .sidenav li a {
    min-width: 60px;
    max-width: 60px;
    margin: 0px;
  }

  .sidenav p {
    font-size: 0.875rem;
  }
  .contxt {
    grid-column: 1/2;
    grid-row: 2;
  }
  .clitxt {
    grid-column: 2;
    grid-row: 2;
  }
  .extxt {
    grid-column: 3;
    grid-row: 2;
  }
  .gintxt {
    grid-column: 4;
    grid-row: 2;
  }
  .neutxt {
    grid-column: 5;
    grid-row: 2;
  }
  /* .sidenav ul li {
    max-width: 50px;
  } */
}
