.sidenav {
  background: #fafafa;
  padding: 30px;
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 1s ease-out;
}
.sidenav .ativo {
  background: linear-gradient(185deg, #26bb9d, #086f71);
}

.sidenav li a:hover {
  background: #086f71;
}
