.footer {
  background: linear-gradient(135deg, #26bb9d, #086f71);
}

.footer p {
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 470px) {
  .footer p {
    font-size: 0.875rem;
    padding: 20px;
  }
}
