.header {
  grid-area: header;
  background: #fafafa;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}
.header nav a {
  display: block;
  padding: 10px;
  color: #086f71;
  font-weight: 500;
  transition: 0.5s;
}

.header nav .ativo a {
  font-weight: 800;
  color: #de6b41;
}
.header nav a:hover {
  color: #de6b41;
}

.header li + li {
  margin-left: 30px;
}
