.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.col-wide {
  grid-column: 1/-1;
  /* max-height: 300px; */
  max-width: 100%;
}
/* .center-txt {
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #26bb9d, #086f71, #086f71);
  box-shadow: 5px 5px 15px #0000002d;
} */

.img-continer-main {
  /* max-height: 400px; */
  grid-row: span 2;
  align-self: end;
}
.content img {
  box-shadow: 5px 5px 15px #0000002d;
}
.img-continer-second {
  align-self: end;
}
.info p + p {
  margin-top: 30px;
}

.title {
}
.title span {
  color: #26bb9d;
  font-size: 0.875rem;
  font-style: italic;
}
.title h1 {
  color: #086f71;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: bold;
  text-shadow: 5px 5px 15px #0000001c;
}

.feature {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.feature > div {
  width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #086f71, #26bb9d);
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: relative;
}

.feature > div:first-child {
  margin-right: 30px;
}
.feature span {
  display: block;
}
.date {
  color: #eeeeee;
  font-size: 2.1rem;
  line-height: 1;
  margin: 6px 0px 10px 0px;
}
.month {
  color: #ddd;
  font-size: 0.875rem;
  padding: 8px 0px 0px 0px;
}
.hour {
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 5px 0px;
  color: #086f71;
  font-weight: bold;
  position: relative;
  top: 2px;
}
.hour-day1 {
  color: white;
  padding: 5px 0px;
  font-size: 0.875rem;
  text-align: center;
}
.hour-day2 {
  color: white;
  padding-bottom: 6px;
  font-size: 0.875rem;
  text-align: center;
}
.open {
  display: none;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #27cc18;
  margin-left: 30%;
  margin-top: 24px;
  margin-bottom: 22px;
}

.service-availability {
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 5px 0px;
  color: #086f71;
  font-weight: bold;
  position: relative;
  top: 2px;
}

.fechado > div {
  display: none;
}

.emp {
  font-size: 0.875rem;
  color: #086f71;
  max-width: 18rem;
}

.quote,
.status {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #26bb9d, #086f71, #086f71);
  box-shadow: 5px 5px 15px #0000002d;
}
.quote p {
  font-size: 1.5rem;
  font-family: "Poetsen One";
  font-style: italic;
  text-align: center;
  font-weight: 400;
  max-width: 500px;
  margin: 0 auto;
  color: white;
}

.status li {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.125rem;
  padding: 15px;
}
.status li + li {
  border-top: 2px solid #26bb9d70;
}
.id-item {
  box-shadow: -5px 5px 15px #00000021;
}

.id-item:hover {
  box-shadow: -5px 5px 15px #26bb9d;
  border-radius: 10px;
}
